@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --shadow: #e6e6e6;
  --scrollbarBG: #5e5e5e;
  --thumbBG: #000000;
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  -webkit-box-shadow: 0 -100vh 0 100vh var(--shadow), 0 0 15px 5px black;
          box-shadow: 0 -100vh 0 100vh var(--shadow), 0 0 15px 5px black;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  background: #ababab;
  background: -webkit-gradient(linear, left top, left bottom, from(#ababab), color-stop(16%, #cfcfcf), color-stop(28%, #f1f1f1), color-stop(73%, white));
  background: linear-gradient(180deg, #ababab 0%, #cfcfcf 16%, #f1f1f1 28%, white 73%);
}

.moblileHeader {
  min-height: 20vh;
  padding: 3% 4%;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-animation: headerAnim 0.5s ease forwards;
          animation: headerAnim 0.5s ease forwards;
  /* The navigation menu links */
  /* When you mouse over the navigation links, change their color */
  /* Position and style the close button (top right corner) */
}

.moblileHeader .mobileBrandName {
  display: none;
}

.moblileHeader .bckspaceLogUser .logUser {
  text-align: right;
  font-size: 0.8rem;
}

.moblileHeader .bckspaceLogUser .headImgContainer {
  margin: 0 auto;
  height: 38px;
  width: 230px;
  text-align: center;
}

.moblileHeader .bckspaceLogUser .headImgContainer img {
  height: 100%;
  width: 100%;
}

.moblileHeader nav {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.moblileHeader nav .navBurger {
  position: relative;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.moblileHeader nav .navBurger span:nth-child(1) {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  content: "";
  position: absolute;
  top: 0;
  height: 3px;
  width: 32px;
  background: white;
  border-radius: 8px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.moblileHeader nav .navBurger span:nth-child(2) {
  content: "";
  position: absolute;
  top: 8px;
  height: 3px;
  width: 32px;
  background: white;
  border-radius: 8px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.moblileHeader nav .navBurger span:nth-child(3) {
  content: "";
  position: absolute;
  top: 16px;
  height: 3px;
  width: 32px;
  background: white;
  border-radius: 8px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.moblileHeader nav .navBurger:hover span:nth-child(1),
.moblileHeader nav .navBurger:active span:nth-child(1) {
  background: #0202f3;
}

.moblileHeader nav .navBurger:hover span:nth-child(2),
.moblileHeader nav .navBurger:active span:nth-child(2) {
  width: 22px;
}

.moblileHeader nav .searchIcon {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(-15%);
          transform: translateY(-15%);
  border-radius: 6px;
}

.moblileHeader nav .searchIcon input {
  width: 0;
  border: none;
  background: transparent;
  color: white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  height: 100%;
  padding: 2%;
}

.moblileHeader nav .searchIcon input::-webkit-input-placeholder {
  outline: none;
  border: none;
}

.moblileHeader nav .searchIcon input:-ms-input-placeholder {
  outline: none;
  border: none;
}

.moblileHeader nav .searchIcon input::-ms-input-placeholder {
  outline: none;
  border: none;
}

.moblileHeader nav .searchIcon input::placeholder {
  outline: none;
  border: none;
}

.moblileHeader nav .searchIcon input:focus {
  outline: none;
  border: none;
}

.moblileHeader nav .searchIcon button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0);
}

.moblileHeader nav .searchIcon button svg {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-top: 2px;
  font-size: 1.33rem;
  cursor: pointer;
  color: white;
}

.moblileHeader nav .searchIcon:hover svg {
  color: #0202f3;
}

.moblileHeader .sidenav {
  height: 100vh;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 9;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: #111;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
  scrollbar-width: none;
}

.moblileHeader .sidenav::-webkit-scrollbar {
  display: none;
}

.moblileHeader .sideNavContainer {
  padding: 0 8%;
}

.moblileHeader .sideNavContainer .userProfile .userIcon {
  font-size: 8rem;
}

.moblileHeader .sideNavContainer .userProfile .userName {
  margin: 15px 0 0 30px;
}

.moblileHeader .sideNavContainer .userProfile .userName p {
  margin: 0;
}

.moblileHeader .sideNavContainer .userProfile .userName .loggedIn {
  font-size: 0.86rem;
  margin-bottom: 10px;
}

.moblileHeader .sideNavContainer .userProfile .userName .loggedName {
  font-size: 1.2rem;
  font-weight: 600;
}

.moblileHeader .sideNavContainer hr {
  background: #383838;
  border-radius: 8px;
  height: 1px;
}

.moblileHeader .sidenav a {
  padding: 4px 0 0 0;
  text-decoration: none;
  font-size: 1.2rem;
  color: #e9e9e9;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.moblileHeader .sidenav a:hover {
  color: blue;
}

.moblileHeader .sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@-webkit-keyframes headerAnim {
  from {
    opacity: 0;
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes headerAnim {
  from {
    opacity: 0;
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.desktopHeader {
  min-height: 15vh;
  background: rgba(0, 0, 0, 0.774);
  display: none;
  position: fixed;
  z-index: 6;
  width: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-animation: headerAnim 0.5s ease forwards;
          animation: headerAnim 0.5s ease forwards;
}

.desktopHeader nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2% 4%;
}

.desktopHeader nav .leftLogo a {
  text-decoration: none;
}

.desktopHeader nav .leftLogo svg {
  font-size: 2rem;
  color: white;
}

.desktopHeader nav .navLinks {
  margin: 10px 0 0 100px;
}

.desktopHeader nav .navLinks ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.desktopHeader nav .navLinks ul li {
  position: relative;
  z-index: 1;
  margin-right: 30px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.desktopHeader nav .navLinks ul li a {
  text-decoration: none;
  color: white;
  font-size: 0.95rem;
}

.desktopHeader nav .navLinks ul .navHoverAnimation {
  position: absolute;
  height: 100%;
  width: 8%;
  top: 0;
  left: -1.3%;
  border-radius: 10px;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  border: none;
  outline: none;
  background: blue;
  z-index: 0;
}

.desktopHeader nav .navLinks ul li:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.desktopHeader nav .navLinks ul li:nth-child(1):hover ~ .navHoverAnimation {
  left: -1.3%;
}

.desktopHeader nav .navLinks ul li:nth-child(2):hover ~ .navHoverAnimation {
  left: 8%;
  width: 12%;
}

.desktopHeader nav .navLinks ul li:nth-child(3):hover ~ .navHoverAnimation {
  left: 22%;
  width: 7%;
}

.desktopHeader nav .navLinks ul li:nth-child(4):hover ~ .navHoverAnimation {
  left: 30.3%;
}

.desktopHeader nav .navLinks ul li:nth-child(5):hover ~ .navHoverAnimation {
  left: 40%;
  width: 17%;
}

.desktopHeader nav .navLinks ul li:nth-child(6):hover ~ .navHoverAnimation {
  left: 58%;
  width: 13%;
}

.desktopHeader nav .navLinks ul li:nth-child(7):hover ~ .navHoverAnimation {
  left: 72%;
  width: 10%;
}

.desktopHeader nav .navLinks ul li:nth-child(8):hover ~ .navHoverAnimation {
  left: 84%;
  width: 13%;
}

.desktopHeader nav .rightIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 10%;
}

.desktopHeader nav .rightIcons .heartIcon a {
  text-decoration: none;
  color: white;
}

.desktopHeader nav .rightIcons .heartIcon a svg {
  font-size: 1.2rem;
}

.desktopHeader nav .rightIcons .profileIcon a {
  text-decoration: none;
  color: white;
}

.desktopHeader nav .rightIcons .profileIcon a svg {
  font-size: 1.2rem;
}

.desktopHeader nav .rightIcons .searchIcon button {
  background: rgba(0, 0, 0, 0.144);
  border: none;
  outline: none;
}

.desktopHeader nav .rightIcons .searchIcon button svg {
  font-size: 1.2rem;
  color: white;
}

.searchModal.openModal {
  opacity: 1;
  pointer-events: all;
}

.searchModal {
  position: fixed;
  z-index: 7;
  min-height: 120vh;
  top: 0;
  left: 0;
  width: 100%;
  background: black;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.searchModal .searchMainContainer {
  position: relative;
  top: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80vh;
  width: 100%;
}

.searchModal .searchHeading {
  color: white;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}

.searchModal .searchContainer {
  margin-top: 5%;
  -webkit-box-shadow: 6px 6px 16px #00000034, 6px 6px 16px inset #00000034, -6px -6px 16px #70707034, -6px -6px 16px inset #77777734;
          box-shadow: 6px 6px 16px #00000034, 6px 6px 16px inset #00000034, -6px -6px 16px #70707034, -6px -6px 16px inset #77777734;
}

.searchModal .searchContainer input {
  background: transparent;
  color: white;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 2%;
  height: 50px;
  width: 30rem;
  border: none;
  outline: none;
}

.searchModal .searchContainer input:focus-within {
  border: none;
}

.searchModal .searchContainer button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 0 10px 0 20px;
  border: none;
  outline: none;
  background: transparent;
}

.searchModal .searchContainer button path {
  fill: white;
}

.searchModal .searchContainer button:hover {
  background: #252424;
}

main {
  min-height: 80vh;
  margin-top: 30vh;
}

main .mainContainer {
  padding: 6% 4%;
}

main .mainContainer .shoeImgContainer {
  margin: 4% 0 0 12%;
  height: 18rem;
  width: 25rem;
}

main .mainContainer .shoeImgContainer img {
  height: 100%;
  width: 100%;
}

main .mainContainer .shoeDetails .shoeBrandName p {
  margin: 0;
}

main .mainContainer .shoeDetails .shoeBrandName .shoeName {
  font-size: 1.25rem;
}

main .mainContainer .shoeDetails .shoeBrandName .shoeModel {
  margin-top: 15px;
  font-size: 1.1rem;
  font-weight: 500;
  color: #575757;
}

main .mainContainer .shoeDetails .shoeCondition {
  margin-top: 110px;
}

main .mainContainer .shoeDetails .shoeCondition select {
  width: 180px;
}

main .mainContainer .shoeDetails .shoeCondition .custom-select {
  background: url("../ASSETS/angle-down-solid.svg") no-repeat right 1rem center/8px 25px;
}

main .mainContainer .shoeDetails .shoeCondition .custom-select:active, main .mainContainer .shoeDetails .shoeCondition .custom-select:focus {
  background: url("../ASSETS/angle-up-solid.svg") no-repeat right 1rem center/8px 25px;
}

main .mainContainer .shoeDetails .selectSize {
  margin-top: 30px;
}

main .mainContainer .shoeDetails .selectSize .allSizeOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .mainContainer .shoeDetails .selectSize .allSizeOptions .sizeOption {
  margin-bottom: 20px;
  height: 4rem;
  width: 4rem;
  border: 1px solid #c5c5c5;
  margin-right: 20px;
  text-align: center;
  padding: 1% 0.5%;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

main .mainContainer .shoeDetails .selectSize .allSizeOptions .sizeOption p {
  margin: 0;
}

main .mainContainer .shoeDetails .selectSize .allSizeOptions .sizeOption .usSize {
  font-size: 0.78rem;
  margin: 6px;
  pointer-events: none;
}

main .mainContainer .shoeDetails .selectSize .allSizeOptions .sizeOption .sizeMoney {
  font-size: 0.7rem;
  color: #0e0ed3;
  font-weight: 600;
  pointer-events: none;
}

main .mainContainer .shoeDetails .selectSize .allSizeOptions .sizeOption:hover, main .mainContainer .shoeDetails .selectSize .allSizeOptions .sizeOption:active {
  cursor: pointer;
  opacity: 0.9;
  border: 2px solid #0e0ed3;
}

main .mainContainer .shoeDetails .noDisplay {
  display: none;
}

main .mainContainer .shoeDetails .shoeSizeClickedBuy {
  margin-top: 25px;
}

main .mainContainer .shoeDetails .shoeSizeClickedBuy .highestLowestBid {
  font-size: 0.72rem;
  font-weight: 600;
}

main .mainContainer .shoeDetails .shoeSizeClickedBuy .highestLowestBid .highGreen {
  color: #3fd33f;
}

main .mainContainer .shoeDetails .shoeSizeClickedBuy .highestLowestBid .lowestBlue {
  color: #3131d1;
}

main .mainContainer .shoeDetails .shoeSizeClickedBuy .colorSizeStyleCondition {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.85rem;
  font-weight: 600;
  color: #9e9e9e;
}

main .mainContainer .shoeDetails .shoeSizeClickedBuy .colorSizeStyleCondition .boldPara {
  color: black;
}

main .mainContainer .shoeDetails .shoeSizeClickedBuy .colorSizeStyleCondition .styleSize {
  margin-left: 68px;
}

main .mainContainer .shoeDetails .shoeSizeClickedBuy .colorSizeStyleCondition .styleSize input {
  height: 30px;
  width: 8rem;
  border: 2px solid #c5bdbd;
  outline: none;
  color: #8f8f8f;
  padding: 1% 8%;
  border-radius: 3px;
  font-size: 0.85rem;
  font-weight: 500;
  background: url("../ASSETS/pencil-alt-solid.svg") no-repeat right 0.8rem center/13px 23px;
}

main .mainContainer .shoeDetails .shoeSizeClickedBuy .anyBtnClickedContainer {
  height: 42vh;
}

main .mainContainer .shoeDetails .shoeSizeClickedBuy .sellNowBtnClicked {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

main .mainContainer .shoeDetails .shoeSizeClickedBuy .placeAskClicked {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

main .mainContainer .shoeDetails .shoeSizeClickedBuy .placeSellNow {
  margin-top: 15px;
  width: 100%;
}

main .mainContainer .shoeDetails .shoeSizeClickedBuy .placeSellNow button {
  margin: 0 !important;
  height: 50px;
  width: 13.6rem;
  font-weight: 500;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  border: none;
  outline: none;
}

main .mainContainer .shoeDetails .shoeSizeClickedBuy .placeSellNow .placeAsk {
  border: 1px solid #d4d4d4;
  background: #f8f8f8;
  border-radius: 5px 0 0 5px;
}

main .mainContainer .shoeDetails .shoeSizeClickedBuy .placeSellNow .placeAsk:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  opacity: 0.9;
}

main .mainContainer .shoeDetails .shoeSizeClickedBuy .placeSellNow .sellNow {
  border-radius: 0 5px 5px 0;
  border: 1px solid #d4d4d4;
  background: #f8f8f8;
}

main .mainContainer .shoeDetails .shoeSizeClickedBuy .placeSellNow .sellNow:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  opacity: 0.9;
}

main .mainContainer .shoeDetails .shoeSizeClickedBuy .placeSellNow .activeBtnClicked {
  background: #2e4fe0;
  color: white;
}

main .mainContainer .shoeDetails .shoeSizeClickedBuy .amtPara {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .mainContainer .shoeDetails .shoeSizeClickedBuy .amtPara input {
  height: 46px;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  width: 9rem;
  padding: 1% 2% 1% 4%;
  font-size: 1.5rem;
  font-weight: 500;
  background: #f8f8f8;
}

main .mainContainer .shoeDetails .shoeSizeClickedBuy .amtPara .bidPara {
  margin: 22px 0 0 10px;
  font-size: 0.8rem;
  font-weight: 500;
  color: #858585;
}

main .mainContainer .shoeDetails .shoeSizeClickedBuy .totalAmtTax {
  padding-right: 14%;
  padding-top: 5%;
}

main .mainContainer .shoeDetails .shoeSizeClickedBuy .totalAmtTax .transactionFee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  font-size: 0.9rem;
  font-weight: 600;
  color: #464646;
}

main .mainContainer .shoeDetails .shoeSizeClickedBuy .enterAsk {
  margin-top: 30px;
}

main .mainContainer .shoeDetails .shoeSizeClickedBuy .enterAsk .askAmtPara {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .mainContainer .shoeDetails .shoeSizeClickedBuy .enterAsk .askAmtPara input {
  height: 46px;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  width: 9rem;
  padding: 1% 2% 1% 7%;
  font-size: 1.2rem;
  font-weight: 500;
  background: url("../ASSETS/rupee-sign-solid.svg") no-repeat left 0.8rem center/13px 23px;
}

main .mainContainer .shoeDetails .shoeSizeClickedBuy .enterAsk .askAmtPara .askPara {
  margin: 22px 0 0 15px;
  font-size: 0.8rem;
  font-weight: 500;
  color: #858585;
}

main .mainContainer .shoeDetails .shoeSizeClickedBuy .transBtns {
  padding: 10% 12% 5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .mainContainer .shoeDetails .shoeSizeClickedBuy .transBtns button {
  height: 35px;
  width: 8rem;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 2px;
  outline: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

main .mainContainer .shoeDetails .shoeSizeClickedBuy .transBtns .cancelTrans {
  color: #555555;
  border: 2px solid #979797;
  background: #f8f8f8;
}

main .mainContainer .shoeDetails .shoeSizeClickedBuy .transBtns .cancelTrans:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  opacity: 0.9;
}

main .mainContainer .shoeDetails .shoeSizeClickedBuy .transBtns .proceedTrans {
  border: none;
  color: whitesmoke;
  background: #131111;
}

main .mainContainer .shoeDetails .shoeSizeClickedBuy .transBtns .proceedTrans:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  opacity: 0.9;
}

footer {
  position: relative;
  background: #1b1b1b;
  min-height: 25vh;
}

footer .yoUpBtn {
  cursor: pointer;
  position: absolute;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: #131111;
  z-index: 3;
  right: 70px;
  top: -12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: blue;
  font-size: 2rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-shadow: 78px 96px 39px -72px rgba(0, 0, 0, 0.75);
  box-shadow: 78px 96px 39px -72px rgba(0, 0, 0, 0.75);
}

footer .yoUpBtn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

footer .footerContainer {
  text-align: center;
  padding: 1% 3% 1% 3%;
}

footer .footerContainer .footLinks {
  padding: 2% 5% 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .footerContainer .footLinks .mobileWrap {
  margin-bottom: 35px;
}

footer .footerContainer .footLinks a {
  text-decoration: none;
  color: #b8b8b8;
  font-size: 0.9rem;
}

footer .footerContainer .footLinks a span {
  margin: 0 10px;
}

footer .footerContainer .footSocial {
  padding: 10px 0 0 0;
}

footer .footerContainer .footSocial a {
  color: #e7e7e7;
  margin-right: 10px;
}

footer .footerContainer .footSocial a svg {
  font-size: 1.9rem;
}

footer .footerContainer .footRights {
  padding: 20px 0 0 0;
  font-weight: 500;
  color: #4d4d4d;
}

@media screen and (max-height: 750px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

@media screen and (max-width: 750px) {
  .moblileHeader {
    display: block;
  }
  .moblileHeader .logUser {
    display: none;
  }
  .moblileHeader .mobileBrandName {
    display: block;
  }
  header {
    /* The navigation menu links */
    /* When you mouse over the navigation links, change their color */
    /* Position and style the close button (top right corner) */
  }
  header .desktopBrandName {
    display: none;
  }
  header .bckspaceLogUser .logUser {
    text-align: right;
    font-size: 0.8rem;
  }
  header nav {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav .mobileBrandName .headImgContainer {
    height: 38px;
    width: 160px;
    text-align: center;
  }
  header nav .mobileBrandName .headImgContainer img {
    height: 100%;
    width: 100%;
  }
  header nav .navBurger {
    position: relative;
    cursor: pointer;
    height: 30px;
    width: 30px;
  }
  header nav .navBurger span:nth-child(1) {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    content: "";
    position: absolute;
    top: 0;
    height: 3px;
    width: 32px;
    background: white;
    border-radius: 8px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  header nav .navBurger span:nth-child(2) {
    content: "";
    position: absolute;
    top: 8px;
    height: 3px;
    width: 32px;
    background: white;
    border-radius: 8px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  header nav .navBurger span:nth-child(3) {
    content: "";
    position: absolute;
    top: 16px;
    height: 3px;
    width: 32px;
    background: white;
    border-radius: 8px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  header nav .navBurger:hover span:nth-child(1),
  header nav .navBurger:active span:nth-child(1) {
    background: #0202f3;
  }
  header nav .navBurger:hover span:nth-child(2),
  header nav .navBurger:active span:nth-child(2) {
    width: 22px;
  }
  header nav .searchIcon {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    border-radius: 6px;
  }
  header nav .searchIcon button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0);
  }
  header nav .searchIcon button svg {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    margin-top: 2px;
    font-size: 1.33rem;
    cursor: pointer;
    color: white;
  }
  header .sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 3;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    -webkit-transition: 0.5s;
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
    scrollbar-width: none;
  }
  header .sidenav::-webkit-scrollbar {
    display: none;
  }
  header .sideNavContainer {
    padding: 0 8%;
  }
  header .sideNavContainer .userProfile .userIcon {
    font-size: 8rem;
  }
  header .sideNavContainer .userProfile .userName {
    margin: 15px 0 0 30px;
  }
  header .sideNavContainer .userProfile .userName p {
    margin: 0;
  }
  header .sideNavContainer .userProfile .userName .loggedIn {
    font-size: 0.86rem;
    margin-bottom: 10px;
  }
  header .sideNavContainer .userProfile .userName .loggedName {
    font-size: 1.2rem;
    font-weight: 600;
  }
  header .sideNavContainer hr {
    background: #383838;
    border-radius: 8px;
    height: 1px;
  }
  header .sidenav a {
    padding: 4px 0 0 0;
    text-decoration: none;
    font-size: 1.2rem;
    color: #e9e9e9;
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  header .sidenav a:hover {
    color: blue;
  }
  header .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .searchModal {
    position: fixed;
    z-index: 5;
    min-height: 120vh;
    top: 0;
    left: 0;
    width: 100%;
    background: black;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .searchModal .searchContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
  }
  main {
    min-height: 100vh;
  }
  main .mainContainer {
    padding: 6% 4%;
  }
  main .mainContainer .shoeImgContainer {
    margin: 0 auto;
    height: 14rem;
    width: 18rem;
  }
  main .mainContainer .shoeImgContainer img {
    height: 100%;
    width: 100%;
  }
  main .mainContainer .shoeDetails {
    padding-top: 30px;
    text-align: center;
  }
  main .mainContainer .shoeDetails .shoeBrandName {
    margin-bottom: 10px;
  }
  main .mainContainer .shoeDetails .shoeBrandName p {
    margin: 0;
  }
  main .mainContainer .shoeDetails .shoeBrandName .shoeName {
    font-size: 1.25rem;
  }
  main .mainContainer .shoeDetails .shoeBrandName .shoeModel {
    margin-top: 15px;
    font-size: 1.1rem;
    font-weight: 500;
    color: #575757;
  }
  main .mainContainer .shoeDetails .selectSize {
    margin-top: 30px;
  }
  main .mainContainer .shoeDetails .selectSize .allSizeOptions {
    padding: 0 1%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .mainContainer .shoeDetails .selectSize .allSizeOptions .sizeOption {
    margin-bottom: 20px;
    height: 4rem;
    width: 4rem;
    border: 1px solid #c5c5c5;
    margin: 0 10px 20px 10px;
    text-align: center;
    padding: 1% 0.5%;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  main .mainContainer .shoeDetails .selectSize .allSizeOptions .sizeOption p {
    margin: 0;
  }
  main .mainContainer .shoeDetails .selectSize .allSizeOptions .sizeOption .usSize {
    font-size: 0.78rem;
    margin: 6px;
  }
  main .mainContainer .shoeDetails .selectSize .allSizeOptions .sizeOption .sizeMoney {
    font-size: 0.7rem;
    color: #0e0ed3;
    font-weight: 600;
  }
  main .mainContainer .shoeDetails .selectSize .allSizeOptions .sizeOption:hover, main .mainContainer .shoeDetails .selectSize .allSizeOptions .sizeOption:active {
    cursor: pointer;
    opacity: 0.9;
    border: 2px solid #0e0ed3;
  }
  main .mainContainer .shoeDetails .shoeSizeClickedBuy {
    margin-top: 20px;
    padding: 0 4% 0 9%;
    text-align: center;
  }
  main .mainContainer .shoeDetails .shoeSizeClickedBuy .colorSizeStyleCondition {
    margin: 25px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    font-size: 0.85rem;
    font-weight: 600;
    color: #9e9e9e;
    width: 60%;
  }
  main .mainContainer .shoeDetails .shoeSizeClickedBuy .colorSizeStyleCondition .colorCondition {
    text-align: left;
  }
  main .mainContainer .shoeDetails .shoeSizeClickedBuy .colorSizeStyleCondition .styleSize {
    margin-left: 0;
    text-align: left;
  }
  main .mainContainer .shoeDetails .shoeSizeClickedBuy .anyBtnClickedContainer {
    height: 42vh;
  }
  main .mainContainer .shoeDetails .shoeSizeClickedBuy .placeSellNow {
    margin-top: 15px;
    width: 100%;
  }
  main .mainContainer .shoeDetails .shoeSizeClickedBuy .placeSellNow button {
    margin: 0 !important;
    height: 50px;
    width: 13.6rem;
    font-weight: 500;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    border: none;
    outline: none;
  }
  main .mainContainer .shoeDetails .shoeSizeClickedBuy .placeSellNow .placeAsk {
    border: 1px solid #d4d4d4;
    background: #f8f8f8;
    border-radius: 5px 0 0 5px;
  }
  main .mainContainer .shoeDetails .shoeSizeClickedBuy .placeSellNow .placeAsk:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    opacity: 0.9;
  }
  main .mainContainer .shoeDetails .shoeSizeClickedBuy .placeSellNow .sellNow {
    border-radius: 0 5px 5px 0;
    border: 1px solid #d4d4d4;
    background: #f8f8f8;
  }
  main .mainContainer .shoeDetails .shoeSizeClickedBuy .placeSellNow .sellNow:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    opacity: 0.9;
  }
  main .mainContainer .shoeDetails .shoeSizeClickedBuy .placeSellNow .activeBtnClicked {
    background: #2e4fe0;
    color: white;
  }
  main .mainContainer .shoeDetails .shoeSizeClickedBuy .amtPara {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .mainContainer .shoeDetails .shoeSizeClickedBuy .amtPara input {
    height: 36px;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    width: 8rem;
    padding: 1% 2% 1% 4%;
    font-size: 1.4rem;
    font-weight: 500;
    background: #f8f8f8;
  }
  main .mainContainer .shoeDetails .shoeSizeClickedBuy .amtPara .bidPara {
    margin: 10px 0 0 4%;
    font-size: 0.7rem;
    font-weight: 500;
    color: #858585;
  }
  main .mainContainer .shoeDetails .shoeSizeClickedBuy .totalAmtTax {
    padding-right: 0;
    padding-top: 5%;
  }
  main .mainContainer .shoeDetails .shoeSizeClickedBuy .totalAmtTax .transactionFee {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 15px;
    font-size: 0.9rem;
    font-weight: 600;
    color: #464646;
  }
  main .mainContainer .shoeDetails .shoeSizeClickedBuy .enterAsk {
    margin-top: 30px;
  }
  main .mainContainer .shoeDetails .shoeSizeClickedBuy .enterAsk .askAmtPara {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .mainContainer .shoeDetails .shoeSizeClickedBuy .enterAsk .askAmtPara input {
    height: 46px;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    width: 9rem;
    padding: 1% 1% 1% 10%;
    font-size: 1.2rem;
    font-weight: 500;
    background: url("../ASSETS/rupee-sign-solid.svg") no-repeat left 0.8rem center/13px 23px;
  }
  main .mainContainer .shoeDetails .shoeSizeClickedBuy .enterAsk .askAmtPara .askPara {
    margin: 12px 0 0 15px;
    font-size: 0.7rem;
    font-weight: 500;
    color: #858585;
  }
  main .mainContainer .shoeDetails .shoeSizeClickedBuy .transBtns {
    padding: 50px 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .mainContainer .shoeDetails .shoeSizeClickedBuy .transBtns button {
    height: 35px;
    width: 8rem;
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 2px;
    outline: none;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  main .mainContainer .shoeDetails .shoeSizeClickedBuy .transBtns .cancelTrans {
    color: #555555;
    border: 2px solid #979797;
    background: #f8f8f8;
  }
  main .mainContainer .shoeDetails .shoeSizeClickedBuy .transBtns .cancelTrans:hover {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
    opacity: 0.9;
  }
  main .mainContainer .shoeDetails .shoeSizeClickedBuy .transBtns .proceedTrans {
    border: none;
    color: whitesmoke;
    background: #131111;
  }
  main .mainContainer .shoeDetails .shoeSizeClickedBuy .transBtns .proceedTrans:hover {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
    opacity: 0.9;
  }
  footer {
    position: relative;
    background: #1b1b1b;
    min-height: 35vh;
  }
  footer .yoUpBtn {
    display: none;
  }
  footer .footerContainer {
    text-align: center;
    padding: 3% 2%;
  }
  footer .footerContainer .footLinks {
    padding: 2% 1% 0 1%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .footerContainer .footLinks .noMobile {
    display: none;
  }
  footer .footerContainer .footLinks .mobileWrap {
    margin-bottom: 35px;
  }
  footer .footerContainer .footLinks a {
    text-decoration: none;
    color: #b8b8b8;
    font-size: 0.9rem;
  }
  footer .footerContainer .footLinks a span {
    margin: 0 10px;
  }
  footer .footerContainer .footSocial {
    padding: 10px 0 0 0;
  }
  footer .footerContainer .footSocial a {
    color: #e7e7e7;
    margin-right: 10px;
  }
  footer .footerContainer .footSocial a svg {
    font-size: 1.9rem;
  }
  footer .footerContainer .footRights {
    padding: 20px 0 0 0;
    font-weight: 500;
    color: #4d4d4d;
  }
}
/*# sourceMappingURL=drop1.css.map */