@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --shadow: #e6e6e6;
  --scrollbarBG: #5e5e5e;
  --thumbBG: #000000;
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  -webkit-box-shadow: 0 -100vh 0 100vh var(--shadow), 0 0 15px 5px black;
          box-shadow: 0 -100vh 0 100vh var(--shadow), 0 0 15px 5px black;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.moblileHeader {
  display: none;
  min-height: 20vh;
  padding: 3% 4%;
  background: #000000;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-animation: headerAnim 0.5s ease forwards;
          animation: headerAnim 0.5s ease forwards;
  /* The navigation menu links */
  /* When you mouse over the navigation links, change their color */
  /* Position and style the close button (top right corner) */
}

.moblileHeader .mobileBrandName {
  display: none;
}

.moblileHeader .bckspaceLogUser .logUser {
  text-align: right;
  font-size: 0.8rem;
}

.moblileHeader .bckspaceLogUser .headImgContainer {
  margin: 0 auto;
  height: 38px;
  width: 230px;
  text-align: center;
}

.moblileHeader .bckspaceLogUser .headImgContainer img {
  height: 100%;
  width: 100%;
}

.moblileHeader nav {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.moblileHeader nav .navBurger {
  position: relative;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.moblileHeader nav .navBurger span:nth-child(1) {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  content: "";
  position: absolute;
  top: 0;
  height: 3px;
  width: 32px;
  background: white;
  border-radius: 8px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.moblileHeader nav .navBurger span:nth-child(2) {
  content: "";
  position: absolute;
  top: 8px;
  height: 3px;
  width: 32px;
  background: white;
  border-radius: 8px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.moblileHeader nav .navBurger span:nth-child(3) {
  content: "";
  position: absolute;
  top: 16px;
  height: 3px;
  width: 32px;
  background: white;
  border-radius: 8px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.moblileHeader nav .navBurger:hover span:nth-child(1),
.moblileHeader nav .navBurger:active span:nth-child(1) {
  background: #0202f3;
}

.moblileHeader nav .navBurger:hover span:nth-child(2),
.moblileHeader nav .navBurger:active span:nth-child(2) {
  width: 22px;
}

.moblileHeader nav .searchIcon {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(-15%);
          transform: translateY(-15%);
  border-radius: 6px;
}

.moblileHeader nav .searchIcon button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0);
}

.moblileHeader nav .searchIcon button svg {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-top: 2px;
  font-size: 1.33rem;
  cursor: pointer;
  color: white;
}

.moblileHeader nav .searchIcon:hover input,
.moblileHeader nav .searchIcon:focus-within input {
  width: 250px;
  margin-left: 10px;
}

.moblileHeader nav .searchIcon:hover,
.moblileHeader nav input:focus {
  -webkit-box-shadow: 6px 6px 16px #00000034, 6px 6px 16px inset #00000034, -6px -6px 16px #36363634, -6px -6px 16px inset #3d3d3d34;
          box-shadow: 6px 6px 16px #00000034, 6px 6px 16px inset #00000034, -6px -6px 16px #36363634, -6px -6px 16px inset #3d3d3d34;
}

.moblileHeader nav .searchIcon:hover svg,
.moblileHeader nav input:focus svg {
  color: #0202f3;
}

.moblileHeader .sidenav {
  height: 100vh;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 9;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: #111;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
  scrollbar-width: none;
}

.moblileHeader .sidenav::-webkit-scrollbar {
  display: none;
}

.moblileHeader .sideNavContainer {
  padding: 0 8%;
}

.moblileHeader .sideNavContainer .userProfile .userIcon {
  font-size: 8rem;
}

.moblileHeader .sideNavContainer .userProfile .userName {
  margin: 15px 0 0 30px;
}

.moblileHeader .sideNavContainer .userProfile .userName p {
  margin: 0;
}

.moblileHeader .sideNavContainer .userProfile .userName .loggedIn {
  font-size: 0.86rem;
  margin-bottom: 10px;
}

.moblileHeader .sideNavContainer .userProfile .userName .loggedName {
  font-size: 1.2rem;
  font-weight: 600;
}

.moblileHeader .sideNavContainer hr {
  background: #383838;
  border-radius: 8px;
  height: 1px;
}

.moblileHeader .sidenav a {
  padding: 4px 0 0 0;
  text-decoration: none;
  font-size: 1.2rem;
  color: #e9e9e9;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.moblileHeader .sidenav a:hover {
  color: blue;
}

.moblileHeader .sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@-webkit-keyframes headerAnim {
  from {
    opacity: 0;
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes headerAnim {
  from {
    opacity: 0;
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.noDisplay {
  display: none !important;
}

.desktopHeader {
  min-height: 20vh;
  background: black;
  position: fixed;
  z-index: 6;
  width: 100%;
  padding: 2% 4%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-animation: headerAnim 0.5s ease forwards;
          animation: headerAnim 0.5s ease forwards;
}

.desktopHeader .bckspaceLogUser .logUser {
  text-align: right;
  font-size: 0.8rem;
  color: white;
}

.desktopHeader .bckspaceLogUser .headImgContainer {
  margin: 0 auto;
  height: 38px;
  width: 230px;
  text-align: center;
}

.desktopHeader .bckspaceLogUser .headImgContainer img {
  height: 100%;
  width: 100%;
}

.desktopHeader nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2% 0;
}

.desktopHeader nav .navContainer3 .rightIcons {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10%;
}

.desktopHeader nav .navContainer3 .rightIcons .heartIcon a {
  text-decoration: none;
  color: white;
}

.desktopHeader nav .navContainer3 .rightIcons .heartIcon a svg {
  font-size: 1.2rem;
}

.desktopHeader nav .navContainer3 .rightIcons .profileIcon a {
  text-decoration: none;
  color: white;
}

.desktopHeader nav .navContainer3 .rightIcons .profileIcon a svg {
  font-size: 1.2rem;
}

.desktopHeader nav .navContainer3 .rightIcons .searchIcon button {
  background: rgba(0, 0, 0, 0.144);
  border: none;
  outline: none;
}

.desktopHeader nav .navContainer3 .rightIcons .searchIcon button svg {
  font-size: 1.2rem;
  color: white;
}

@-webkit-keyframes navDeskAnim {
  from {
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes navDeskAnim {
  from {
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes bckspaceLogUserAnimCome {
  from {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bckspaceLogUserAnimCome {
  from {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes bckspaceLogUserAnimGo {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}

@keyframes bckspaceLogUserAnimGo {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}

.desktopHeader nav .navContainer2,
.desktopHeader nav .navContainer3 {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.desktopHeader nav .navContainer2 .thebckName,
.desktopHeader nav .navContainer3 .thebckName {
  display: none;
}

.desktopHeader nav .navContainer2 .headImgContainer,
.desktopHeader nav .navContainer3 .headImgContainer {
  margin: 0 auto;
  height: 38px;
  width: 230px;
  text-align: center;
}

.desktopHeader nav .navContainer2 .headImgContainer img,
.desktopHeader nav .navContainer3 .headImgContainer img {
  height: 100%;
  width: 100%;
}

.desktopHeader nav .navContainer2 .deskNavBurger,
.desktopHeader nav .navContainer3 .deskNavBurger {
  position: relative;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.desktopHeader nav .navContainer2 .deskNavBurger span:nth-child(1),
.desktopHeader nav .navContainer3 .deskNavBurger span:nth-child(1) {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  content: "";
  position: absolute;
  top: 0;
  height: 3px;
  width: 32px;
  background: white;
  border-radius: 8px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.desktopHeader nav .navContainer2 .deskNavBurger span:nth-child(2),
.desktopHeader nav .navContainer3 .deskNavBurger span:nth-child(2) {
  content: "";
  position: absolute;
  top: 8px;
  height: 3px;
  width: 32px;
  background: white;
  border-radius: 8px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.desktopHeader nav .navContainer2 .deskNavBurger span:nth-child(3),
.desktopHeader nav .navContainer3 .deskNavBurger span:nth-child(3) {
  content: "";
  position: absolute;
  top: 16px;
  height: 3px;
  width: 32px;
  background: white;
  border-radius: 8px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.desktopHeader nav .navContainer2 .deskNavBurger:hover span:nth-child(1),
.desktopHeader nav .navContainer2 .deskNavBurger:active span:nth-child(1),
.desktopHeader nav .navContainer3 .deskNavBurger:hover span:nth-child(1),
.desktopHeader nav .navContainer3 .deskNavBurger:active span:nth-child(1) {
  background: #0202f3;
}

.desktopHeader nav .navContainer2 .deskNavBurger:hover span:nth-child(2),
.desktopHeader nav .navContainer2 .deskNavBurger:active span:nth-child(2),
.desktopHeader nav .navContainer3 .deskNavBurger:hover span:nth-child(2),
.desktopHeader nav .navContainer3 .deskNavBurger:active span:nth-child(2) {
  width: 22px;
}

.desktopHeader nav .navContainer2 .searchIcon,
.desktopHeader nav .navContainer3 .searchIcon {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  border-radius: 6px;
}

.desktopHeader nav .navContainer2 .searchIcon button,
.desktopHeader nav .navContainer3 .searchIcon button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0);
}

.desktopHeader nav .navContainer2 .searchIcon button svg,
.desktopHeader nav .navContainer3 .searchIcon button svg {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-top: 2px;
  font-size: 1.33rem;
  cursor: pointer;
  color: white;
}

.desktopHeader nav .navContainer2 .searchIcon button:hover svg,
.desktopHeader nav .navContainer3 .searchIcon button:hover svg {
  color: blue;
}

.desktopHeader nav .leftLogo a {
  text-decoration: none;
}

.desktopHeader nav .leftLogo svg {
  font-size: 2rem;
  color: white;
}

.desktopHeader nav .navLinks {
  margin: 10px 0 0 100px;
}

.desktopHeader nav .navLinks ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.desktopHeader nav .navLinks ul li {
  position: relative;
  z-index: 1;
  margin-right: 30px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.desktopHeader nav .navLinks ul li a {
  text-decoration: none;
  color: white;
  font-size: 0.95rem;
}

.desktopHeader nav .navLinks ul .navHoverAnimation {
  position: absolute;
  height: 100%;
  width: 8%;
  top: 0;
  left: -1.3%;
  border-radius: 10px;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  border: none;
  outline: none;
  background: blue;
  z-index: 0;
}

.desktopHeader nav .navLinks ul li:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.desktopHeader nav .navLinks ul li:nth-child(1):hover ~ .navHoverAnimation {
  left: -1.3%;
}

.desktopHeader nav .navLinks ul li:nth-child(2):hover ~ .navHoverAnimation {
  left: 8%;
  width: 12%;
}

.desktopHeader nav .navLinks ul li:nth-child(3):hover ~ .navHoverAnimation {
  left: 22%;
  width: 7%;
}

.desktopHeader nav .navLinks ul li:nth-child(4):hover ~ .navHoverAnimation {
  left: 30.3%;
}

.desktopHeader nav .navLinks ul li:nth-child(5):hover ~ .navHoverAnimation {
  left: 40%;
  width: 17%;
}

.desktopHeader nav .navLinks ul li:nth-child(6):hover ~ .navHoverAnimation {
  left: 58%;
  width: 13%;
}

.desktopHeader nav .navLinks ul li:nth-child(7):hover ~ .navHoverAnimation {
  left: 72%;
  width: 10%;
}

.desktopHeader nav .navLinks ul li:nth-child(8):hover ~ .navHoverAnimation {
  left: 84%;
  width: 13%;
}

.desktopHeader nav .rightIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 10%;
}

.desktopHeader nav .rightIcons .heartIcon a {
  text-decoration: none;
  color: white;
}

.desktopHeader nav .rightIcons .heartIcon a svg {
  font-size: 1.2rem;
}

.desktopHeader nav .rightIcons .profileIcon a {
  text-decoration: none;
  color: white;
}

.desktopHeader nav .rightIcons .profileIcon a svg {
  font-size: 1.2rem;
}

.desktopHeader nav .rightIcons .searchIcon button {
  background: rgba(0, 0, 0, 0.144);
  border: none;
  outline: none;
}

.desktopHeader nav .rightIcons .searchIcon button svg {
  font-size: 1.2rem;
  color: white;
}

.searchModal.openModal {
  opacity: 1;
  pointer-events: all;
}

.searchModal {
  position: fixed;
  z-index: 7;
  min-height: 120vh;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.521);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.searchModal .searchMainContainer {
  position: relative;
  top: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80vh;
  width: 100%;
}

.searchModal .scearchCloseIcon {
  position: absolute;
  top: 12%;
  right: 3.5%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  height: 50px;
  width: 50px;
}

.searchModal .scearchCloseIcon span:nth-child(1) {
  content: "";
  position: absolute;
  height: 2px;
  width: 40px;
  background: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.searchModal .scearchCloseIcon span:nth-child(2) {
  content: "";
  position: absolute;
  top: 0px;
  height: 2px;
  width: 40px;
  background: white;
  -webkit-transform: rotate(130deg);
          transform: rotate(130deg);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.searchModal .scearchCloseIcon:hover span {
  cursor: pointer;
  background: blue;
}

.searchModal .scearchCloseIcon:hover {
  cursor: pointer;
}

.searchModal .searchContainer {
  margin-top: 5%;
  border: 2px solid #cecece;
}

.searchModal .searchContainer input {
  background: transparent;
  color: white;
  border-radius: 8px;
  font-size: 0.95rem;
  font-weight: 500;
  padding: 2%;
  height: 38px;
  width: 40rem;
  border: none;
  outline: none;
}

.searchModal .searchContainer input::-webkit-input-placeholder {
  color: white;
}

.searchModal .searchContainer input:-ms-input-placeholder {
  color: white;
}

.searchModal .searchContainer input::-ms-input-placeholder {
  color: white;
}

.searchModal .searchContainer input::placeholder {
  color: white;
}

.searchModal .searchContainer input:focus-within {
  border: none;
}

.searchModal .searchContainer button {
  height: 38px;
  width: 38px;
  border-radius: 50%;
  margin: 0 10px 0 20px;
  border: none;
  outline: none;
  background: transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.searchModal .searchContainer button path {
  fill: #e0e0e0;
}

.searchModal .searchContainer button:hover {
  background: #252424;
}

main {
  margin-top: 20vh;
}

main .mainContent {
  position: relative;
}

main .mainContent .gliderItem {
  max-height: 80vh;
  background: black;
  text-align: center;
}

main .mainContent .gliderItem .gliderContainer {
  height: 100%;
}

main .mainContent .gliderItem .gliderContainer img {
  -webkit-transform: translate(2%, 15%);
          transform: translate(2%, 15%);
  height: 90%;
  width: 90%;
}

main .mainContent .glider-dots {
  position: absolute;
  top: 108%;
  left: 0;
  right: 0;
  outline: none;
}

main .mainContent .glider-dots button.active {
  background: black;
  outline: none;
}

main .mainContent .glider-dots button {
  background: #dddddd;
  outline: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

main .mainContent .glider-dots button:hover {
  background: #9b9b9b;
}

main .mainContent .glider-next {
  top: 38%;
  right: 50px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  outline: none;
}

main .mainContent .glider-next svg {
  font-size: 2.7rem;
  color: #0202f3;
}

main .mainContent .glider-next:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

main .mainContent .glider-prev {
  top: 38%;
  left: 50px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  outline: none;
}

main .mainContent .glider-prev svg {
  font-size: 2.7rem;
  color: #0202f3;
}

main .mainContent .glider-prev:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

main .copDropBtns {
  min-height: 20vh;
  background: white;
  padding: 3% 4%;
}

main .copDropBtns .copDropContainer {
  margin: 0 auto;
  width: 46%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .copDropBtns .copDropContainer button {
  position: relative;
  outline: none;
  border: 1.6px solid #676767;
  background: white;
  color: #3d3d3d;
  height: 45px;
  width: 170px;
  font-weight: 500;
}

main .copDropBtns .copDropContainer button span {
  position: absolute;
  z-index: 2;
  top: 25%;
  left: 0;
  right: 0;
}

main .copDropBtns .copDropContainer button::after {
  content: "";
  position: absolute;
  z-index: 0;
  height: 0%;
  width: 100%;
  top: 0;
  left: 0;
  background: black;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main .copDropBtns .copDropContainer button:hover {
  color: white;
}

main .copDropBtns .copDropContainer button:hover::after {
  height: 100%;
}

main .popularBrand {
  min-height: 30vh;
  padding: 2% 8%;
}

main .popularBrand .popuparaBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
}

main .popularBrand .popuparaBtn .popuPara {
  font-size: 1.2rem;
  font-weight: 500;
}

main .popularBrand .popuparaBtn .popuBtn button {
  position: relative;
  outline: none;
  border: 1.6px solid #ebebeb;
  background: white;
  color: black;
  height: 35px;
  width: 120px;
  font-weight: 500;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

main .popularBrand .popuparaBtn .popuBtn button span {
  position: absolute;
  z-index: 2;
  top: 16%;
  left: 30%;
}

main .popularBrand .popuparaBtn .popuBtn button::after {
  content: "";
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 0%;
  top: 0;
  left: 0;
  background: black;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

main .popularBrand .popuparaBtn .popuBtn button:hover {
  color: white;
}

main .popularBrand .popuparaBtn .popuBtn button:hover::after {
  width: 100%;
}

main .popularBrand .brandsList {
  padding: 40px 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main .popularBrand .brandsList .brandCircle {
  height: 145px;
  width: 145px;
  margin-right: 40px;
  border-radius: 50%;
  border: 1px solid #9b9b9b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .popularBrand .brandsList .brandCircle .brandLogoContainer {
  margin: 0 auto;
  height: 50px;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .popularBrand .brandsList .brandCircle img {
  height: 80%;
  width: 80%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

main .popularBrand .brandsList .bNike .brandLogoContainer {
  height: 45px;
  width: 110px;
}

main .popularBrand .brandsList .bgucci .brandLogoContainer {
  height: 20px;
  width: 100px;
}

main .popularBrand .brandsList .bBalan .brandLogoContainer {
  height: 20px;
  width: 110px;
}

main .popularBrand .brandsList .offWhite .brandLogoContainer {
  height: 30px;
  width: 90px;
}

main .popularBrand .brandsList .adidas .brandLogoContainer {
  height: 55px;
  width: 90px;
}

main .popularBrand .brandsList .brandCircle:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

main .popularBrand .mobileDownButton {
  display: none;
}

.nikeShoeBanner {
  min-height: 100vh;
}

.nikeShoeBanner .imgContainer {
  height: 100vh;
  width: 100%;
  background: url("../ASSETS/Rectangle 3.png");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-position-x: center;
}

.top20fire {
  min-height: 100%;
}

.top20fire .top20Container {
  padding: 5% 4%;
}

.top20fire .top20Container .topParaBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5%;
}

.top20fire .top20Container .topParaBtn .top20 {
  font-size: 1.4rem;
  font-weight: 500;
}

.top20fire .top20Container .topParaBtn .seeAll {
  position: relative;
  outline: none;
  border: 1.6px solid #858585;
  background: white;
  color: black;
  height: 35px;
  width: 120px;
  font-weight: 500;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.top20fire .top20Container .topParaBtn .seeAll span {
  position: absolute;
  z-index: 2;
  top: 16%;
  left: 30%;
}

.top20fire .top20Container .topParaBtn button::after {
  content: "";
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 0%;
  top: 0;
  left: 0;
  background: black;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.top20fire .top20Container .topParaBtn button:hover {
  color: white;
}

.top20fire .top20Container .topParaBtn button:hover::after {
  width: 100%;
}

.top20fire .top20Container .top20Carousel {
  margin-top: 20px;
}

.top20fire .top20Container .top20Carousel .glider-contain {
  width: 100%;
  height: 100%;
  padding: 0 5%;
}

.top20fire .top20Container .top20Carousel .glider {
  height: auto;
}

.top20fire .top20Container .top20Carousel .glider .carouselCard {
  height: auto;
  margin-right: 3px;
}

.top20fire .top20Container .top20Carousel .glider .carouselCard .cardBody {
  background: #ebebeb;
}

.top20fire .top20Container .top20Carousel .glider .carouselCard .cardBody .addLikeIco {
  padding: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top20fire .top20Container .top20Carousel .glider .carouselCard .cardBody .addLikeIco svg {
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  cursor: pointer;
  color: #636363;
}

.top20fire .top20Container .top20Carousel .glider .carouselCard .cardBody .addLikeIco .plusIco:hover {
  color: #32d432;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.top20fire .top20Container .top20Carousel .glider .carouselCard .cardBody .addLikeIco .heartIco:hover {
  color: #c21f48;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.top20fire .top20Container .top20Carousel .glider .carouselCard .cardBody .cardImage {
  height: 9rem;
  width: 13rem;
  margin: 10% auto 0 auto;
}

.top20fire .top20Container .top20Carousel .glider .carouselCard .cardBody .cardImage img {
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.top20fire .top20Container .top20Carousel .glider .carouselCard .cardBody .cardImage:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.top20fire .top20Container .top20Carousel .glider .carouselCard .itemName {
  text-align: center;
  font-size: 0.8rem;
  padding: 15px 0;
}

.top20fire .top20Container .top20Carousel .glider-prev {
  top: 35%;
  outline: none;
}

.top20fire .top20Container .top20Carousel .glider-prev svg {
  color: blue;
}

.top20fire .top20Container .top20Carousel .glider-next {
  top: 35%;
  outline: none;
}

.top20fire .top20Container .top20Carousel .glider-next svg {
  color: blue;
}

.ourRecomendation .recomContainer {
  padding: 5% 4%;
}

.ourRecomendation .recomContainer .topParaBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5%;
}

.ourRecomendation .recomContainer .topParaBtn .recom {
  font-size: 1.4rem;
  font-weight: 500;
}

.ourRecomendation .recomContainer .topParaBtn .seeAll {
  position: relative;
  outline: none;
  border: 1.6px solid #909090;
  background: white;
  color: #767676;
  height: 35px;
  width: 120px;
  font-weight: 500;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.ourRecomendation .recomContainer .topParaBtn .seeAll span {
  position: absolute;
  z-index: 2;
  top: 16%;
  left: 30%;
}

.ourRecomendation .recomContainer .topParaBtn button::after {
  content: "";
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 0%;
  top: 0;
  left: 0;
  background: black;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.ourRecomendation .recomContainer .topParaBtn button:hover {
  color: white;
}

.ourRecomendation .recomContainer .topParaBtn button:hover::after {
  width: 100%;
}

.ourRecomendation .recomContainer .recomCarousel {
  margin-top: 20px;
}

.ourRecomendation .recomContainer .recomCarousel .glider-contain {
  width: 100%;
  height: 100%;
  padding: 0 5%;
}

.ourRecomendation .recomContainer .recomCarousel .glider {
  height: auto;
}

.ourRecomendation .recomContainer .recomCarousel .glider .carouselCard {
  height: auto;
  margin-right: 3px;
}

.ourRecomendation .recomContainer .recomCarousel .glider .carouselCard .cardBody {
  background: #ebebeb;
}

.ourRecomendation .recomContainer .recomCarousel .glider .carouselCard .cardBody .addLikeIco {
  padding: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ourRecomendation .recomContainer .recomCarousel .glider .carouselCard .cardBody .addLikeIco svg {
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  cursor: pointer;
  color: #636363;
}

.ourRecomendation .recomContainer .recomCarousel .glider .carouselCard .cardBody .addLikeIco .plusIco:hover {
  color: #32d432;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.ourRecomendation .recomContainer .recomCarousel .glider .carouselCard .cardBody .addLikeIco .heartIco:hover {
  color: #c21f48;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.ourRecomendation .recomContainer .recomCarousel .glider .carouselCard .cardBody .cardImage {
  height: 9rem;
  width: 13rem;
  margin: 10% auto 0 auto;
}

.ourRecomendation .recomContainer .recomCarousel .glider .carouselCard .cardBody .cardImage img {
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.ourRecomendation .recomContainer .recomCarousel .glider .carouselCard .cardBody .cardImage:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.ourRecomendation .recomContainer .recomCarousel .glider .carouselCard .itemName {
  text-align: center;
  font-size: 0.8rem;
  padding: 15px 0;
}

.ourRecomendation .recomContainer .recomCarousel .glider-prev {
  top: 35%;
  outline: none;
}

.ourRecomendation .recomContainer .recomCarousel .glider-prev svg {
  color: blue;
}

.ourRecomendation .recomContainer .recomCarousel .glider-next {
  top: 35%;
  outline: none;
}

.ourRecomendation .recomContainer .recomCarousel .glider-next svg {
  color: blue;
}

.instagramGallery {
  background: #b9b9b9;
  min-height: 100%;
  position: relative;
}

.instagramGallery .yoUpBtn {
  cursor: pointer;
  position: absolute;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: #131111;
  z-index: 3;
  right: 30px;
  top: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: blue;
  font-size: 2rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.instagramGallery .yoUpBtn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.instagramGallery .headGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2% 6%;
}

.instagramGallery .headGallery .instPara {
  font-size: 1.3rem;
  font-weight: 500;
}

.instagramGallery .headGallery .instId a {
  color: #0301fd;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.instagramGallery .headGallery .instId a:hover {
  color: #990799;
}

.instagramGallery .galleryContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.instagramGallery .galleryContainer .gallImg {
  height: auto;
  width: auto;
  margin-right: 6px;
}

.instagramGallery .galleryContainer .gallImg img {
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.instagramGallery .galleryContainer .gallImg img:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

footer {
  position: relative;
  background: #1b1b1b;
  min-height: 25vh;
}

footer .yoUpBtn {
  cursor: pointer;
  position: absolute;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: #131111;
  z-index: 3;
  right: 70px;
  top: -12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: blue;
  font-size: 2rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-shadow: 78px 96px 39px -72px rgba(0, 0, 0, 0.75);
  box-shadow: 78px 96px 39px -72px rgba(0, 0, 0, 0.75);
}

footer .yoUpBtn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

footer .footerContainer {
  text-align: center;
  padding: 1% 3% 1% 3%;
}

footer .footerContainer .footLinks {
  padding: 2% 5% 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .footerContainer .footLinks .mobileWrap {
  margin-bottom: 35px;
}

footer .footerContainer .footLinks a {
  text-decoration: none;
  color: #b8b8b8;
  font-size: 0.9rem;
}

footer .footerContainer .footLinks a span {
  margin: 0 10px;
}

footer .footerContainer .footSocial {
  padding: 10px 0 0 0;
}

footer .footerContainer .footSocial a {
  color: #e7e7e7;
  margin-right: 10px;
}

footer .footerContainer .footSocial a svg {
  font-size: 1.9rem;
}

footer .footerContainer .footRights {
  padding: 20px 0 0 0;
  font-weight: 500;
  color: #4d4d4d;
}

@media screen and (max-height: 750px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

@media screen and (max-width: 750px) {
  .desktopHeader {
    display: none;
  }
  .moblileHeader {
    display: block;
    height: 15vh;
  }
  .moblileHeader .logUser {
    display: none;
  }
  .moblileHeader .mobileBrandName {
    display: block;
  }
  header {
    /* The navigation menu links */
    /* When you mouse over the navigation links, change their color */
    /* Position and style the close button (top right corner) */
  }
  header .desktopBrandName {
    display: none;
  }
  header .bckspaceLogUser .logUser {
    text-align: right;
    font-size: 0.8rem;
  }
  header nav {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav .mobileBrandName {
    display: block !important;
  }
  header nav .headImgContainer {
    margin: 0 auto;
    height: 38px;
    width: 150px;
    text-align: center;
  }
  header nav .headImgContainer img {
    height: 100%;
    width: 100%;
  }
  header nav .navBurger {
    position: relative;
    cursor: pointer;
    height: 30px;
    width: 30px;
  }
  header nav .navBurger span:nth-child(1) {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    content: "";
    position: absolute;
    top: 0;
    height: 3px;
    width: 32px;
    background: white;
    border-radius: 8px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  header nav .navBurger span:nth-child(2) {
    content: "";
    position: absolute;
    top: 8px;
    height: 3px;
    width: 32px;
    background: white;
    border-radius: 8px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  header nav .navBurger span:nth-child(3) {
    content: "";
    position: absolute;
    top: 16px;
    height: 3px;
    width: 32px;
    background: white;
    border-radius: 8px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  header nav .navBurger:hover span:nth-child(1),
  header nav .navBurger:active span:nth-child(1) {
    background: #0202f3;
  }
  header nav .navBurger:hover span:nth-child(2),
  header nav .navBurger:active span:nth-child(2) {
    width: 22px;
  }
  header nav .searchIcon {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    border-radius: 6px;
  }
  header nav .searchIcon button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0);
  }
  header nav .searchIcon button svg {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    margin-top: 2px;
    font-size: 1.33rem;
    cursor: pointer;
    color: white;
  }
  header .sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 3;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    -webkit-transition: 0.5s;
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
    scrollbar-width: none;
  }
  header .sidenav::-webkit-scrollbar {
    display: none;
  }
  header .sideNavContainer {
    padding: 0 8%;
  }
  header .sideNavContainer .userProfile .userIcon {
    font-size: 8rem;
  }
  header .sideNavContainer .userProfile .userName {
    margin: 15px 0 0 30px;
  }
  header .sideNavContainer .userProfile .userName p {
    margin: 0;
  }
  header .sideNavContainer .userProfile .userName .loggedIn {
    font-size: 0.86rem;
    margin-bottom: 10px;
  }
  header .sideNavContainer .userProfile .userName .loggedName {
    font-size: 1.2rem;
    font-weight: 600;
  }
  header .sideNavContainer hr {
    background: #383838;
    border-radius: 8px;
    height: 1px;
  }
  header .sidenav a {
    padding: 4px 0 0 0;
    text-decoration: none;
    font-size: 1.2rem;
    color: #e9e9e9;
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  header .sidenav a:hover {
    color: blue;
  }
  header .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .searchModal {
    position: fixed;
    z-index: 5;
    min-height: 120vh;
    top: 0;
    left: 0;
    width: 100%;
    background: black;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .searchModal .searchContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;
  }
  .searchModal .searchContainer input {
    font-size: 0.75rem;
  }
  .searchModal .searchContainer button {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin: 0 10px 0 20px;
    border: none;
    outline: none;
    background: transparent;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .searchModal .searchContainer button path {
    fill: #e0e0e0;
  }
  .searchModal .searchContainer button:hover {
    background: none;
  }
  .searchModal .searchContainer button:hover path {
    background: none;
    fill: #0a06fc;
  }
  main {
    margin-top: 15vh;
  }
  main .mainContent {
    position: relative;
  }
  main .mainContent .gliderItem {
    max-height: 100vh;
    background: black;
    text-align: center;
  }
  main .mainContent .gliderItem .gliderContainer {
    height: 100%;
  }
  main .mainContent .gliderItem .gliderContainer img {
    -webkit-transform: translate(2%, 15%);
            transform: translate(2%, 15%);
    height: 90%;
    width: 90%;
  }
  main .mainContent .glider-dots {
    position: absolute;
    top: 112%;
    left: 0;
    right: 0;
    outline: none;
  }
  main .mainContent .glider-dots button.active {
    background: black;
    outline: none;
  }
  main .mainContent .glider-dots button {
    background: #dddddd;
    outline: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  main .mainContent .glider-dots button:hover {
    background: #9b9b9b;
  }
  main .mainContent .glider-next {
    top: 33%;
    right: 30px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    outline: none;
  }
  main .mainContent .glider-next svg {
    font-size: 2rem;
    color: #0202f3;
  }
  main .mainContent .glider-next:hover {
    -webkit-transform: scale(1.08);
            transform: scale(1.08);
  }
  main .mainContent .glider-prev {
    top: 33%;
    left: 30px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    outline: none;
  }
  main .mainContent .glider-prev svg {
    font-size: 2rem;
    color: #0202f3;
  }
  main .mainContent .glider-prev:hover {
    -webkit-transform: scale(1.08);
            transform: scale(1.08);
  }
  main .copDropBtns {
    min-height: 16vh;
    background: white;
    padding: 3% 8%;
  }
  main .copDropBtns .copDropContainer {
    margin: 80px auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .copDropBtns .copDropContainer button {
    position: relative;
    outline: none;
    border: 1.6px solid #676767;
    background: white;
    color: #3d3d3d;
    height: 45px;
    width: 140px;
    font-weight: 500;
  }
  main .copDropBtns .copDropContainer button span {
    position: absolute;
    z-index: 2;
    top: 25%;
    left: 0;
    right: 0;
  }
  main .copDropBtns .copDropContainer button::after {
    content: "";
    position: absolute;
    z-index: 0;
    height: 0%;
    width: 100%;
    top: 0;
    left: 0;
    background: black;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  main .copDropBtns .copDropContainer button:hover {
    color: white;
  }
  main .copDropBtns .copDropContainer button:hover::after {
    height: 100%;
  }
  main .popularBrand {
    min-height: 50vh;
    padding: 2% 8%;
  }
  main .popularBrand .popuparaBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 95%;
  }
  main .popularBrand .popuparaBtn .popuPara {
    font-size: 1.2rem;
    font-weight: 500;
  }
  main .popularBrand .popuparaBtn .popuBtn {
    display: none;
  }
  main .popularBrand .brandsList {
    margin-top: 20px;
    padding: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  main .popularBrand .brandsList .brandCircle {
    height: 70px;
    width: 70px;
    margin-right: 20px;
    border-radius: 50%;
    border: 1px solid #9b9b9b;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .popularBrand .brandsList .brandCircle .brandLogoContainer {
    margin: 0 auto;
    height: 40px;
    width: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .popularBrand .brandsList .brandCircle img {
    height: 80%;
    width: 80%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  main .popularBrand .brandsList .bNike .brandLogoContainer {
    height: 25px;
    width: 70px;
  }
  main .popularBrand .brandsList .bgucci .brandLogoContainer {
    height: 18px;
    width: 80px;
  }
  main .popularBrand .brandsList .bBalan .brandLogoContainer {
    height: 15px;
    width: 70px;
  }
  main .popularBrand .brandsList .bSupreme .brandLogoContainer {
    height: 18px;
    width: 70px;
  }
  main .popularBrand .brandsList .brandCircle:hover img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  main .popularBrand .brandsList .smallScreenNo {
    display: none;
  }
  main .popularBrand .mobileDownButton {
    display: block;
    text-align: center;
    margin: 40px 0;
  }
  main .popularBrand .mobileDownButton button {
    position: relative;
    outline: none;
    border: 1.6px solid #ebebeb;
    background: white;
    color: black;
    height: 35px;
    width: 120px;
    font-weight: 500;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  main .popularBrand .mobileDownButton button span {
    position: absolute;
    z-index: 2;
    top: 16%;
    left: 0;
    right: 0;
  }
  main .popularBrand .mobileDownButton button::after {
    content: "";
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 0%;
    top: 0;
    left: 0;
    background: black;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  main .popularBrand .mobileDownButton button:hover {
    color: white;
  }
  main .popularBrand .mobileDownButton button:hover::after {
    width: 100%;
  }
  .nikeShoeBanner {
    min-height: 50vh;
  }
  .nikeShoeBanner .imgContainer {
    height: 50vh;
    width: 100%;
    background: url("../ASSETS/Rectangle 3.png");
    background-size: 100vw 50vh;
    background-repeat: no-repeat;
    background-position-x: center;
  }
  .top20fire {
    min-height: 60vh;
  }
  .top20fire .top20Container {
    padding: 5% 8%;
  }
  .top20fire .top20Container .topParaBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 8%;
  }
  .top20fire .top20Container .topParaBtn .seeAll {
    display: none;
  }
  .top20fire .top20Container .glider {
    overflow-x: hidden;
  }
  .top20fire .top20Container .glider-prev svg {
    font-size: 1.8rem;
  }
  .top20fire .top20Container .glider-next svg {
    font-size: 1.8rem;
  }
  .ourRecomendation {
    min-height: 70vh;
    overflow-y: visible;
  }
  .ourRecomendation .recomContainer {
    padding: 5% 8%;
  }
  .ourRecomendation .recomContainer .topParaBtn {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ourRecomendation .recomContainer .topParaBtn .seeAll {
    display: none;
  }
  .ourRecomendation .recomContainer .glider {
    overflow-x: hidden;
  }
  .ourRecomendation .recomContainer .glider-prev svg {
    font-size: 1.8rem;
  }
  .ourRecomendation .recomContainer .glider-next svg {
    font-size: 1.8rem;
  }
  .instagramGallery {
    background: #b9b9b9;
    min-height: 100%;
  }
  .instagramGallery .yoUpBtn {
    display: none;
  }
  .instagramGallery .headGallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .instagramGallery .headGallery .instPara {
    margin: 15px 0 10px 0;
    font-weight: 500;
  }
  .instagramGallery .headGallery .instId {
    margin: 15px 0;
  }
  .instagramGallery .headGallery .instId a {
    font-size: 0.85rem;
  }
  .instagramGallery .galleryContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
  }
  .instagramGallery .galleryContainer .gallImg {
    height: auto;
    width: auto;
    margin-right: 4px;
  }
  .instagramGallery .galleryContainer .gallImg img {
    height: 100%;
    width: 100%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .instagramGallery .galleryContainer .gallImg img:hover {
    -webkit-transform: scale(1.08);
            transform: scale(1.08);
  }
  .instagramGallery .galleryContainer .gallImg:nth-last-child(1) {
    display: none;
  }
  .instagramGallery .galleryContainer .gallImg:nth-last-child(2) {
    display: none;
  }
  footer {
    position: relative;
    background: #1b1b1b;
    min-height: 35vh;
  }
  footer .yoUpBtn:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  footer .footerContainer {
    text-align: center;
    padding: 3% 2%;
  }
  footer .footerContainer .footLinks {
    padding: 2% 1% 0 1%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .footerContainer .footLinks .noMobile {
    display: none;
  }
  footer .footerContainer .footLinks .mobileWrap {
    margin-bottom: 35px;
  }
  footer .footerContainer .footLinks a {
    text-decoration: none;
    color: #b8b8b8;
    font-size: 0.9rem;
  }
  footer .footerContainer .footLinks a span {
    margin: 0 10px;
  }
  footer .footerContainer .footSocial {
    padding: 10px 0 0 0;
  }
  footer .footerContainer .footSocial a {
    color: #e7e7e7;
    margin-right: 10px;
  }
  footer .footerContainer .footSocial a svg {
    font-size: 1.9rem;
  }
  footer .footerContainer .footRights {
    padding: 20px 0 0 0;
    font-weight: 500;
    color: #4d4d4d;
  }
}
/*# sourceMappingURL=homePage.css.map */